[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.2"
flask-cors = "==3.0.10"
flask-sqlalchemy = "==3.0.2"
pandas = "==1.5.1"
pymysql = "==1.0.2"
sqlalchemy = "==1.4.43"
tornado = "==6.3.3"
cryptography = "*"
wordcloud = "*"

[dev-packages]

[requires]
python_version = "3.9"
